.marquee {
    overflow: hidden;
    white-space: nowrap;
}

#carousel {
    display: inline-block;
    animation: scroll 50s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.ribbonScroll {
    width: 400px;
    height: auto;
    margin: 0px 20px;
}
